.image {
  height: 350px;
  background-image: url("./parc-vert.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}


.image h1,
.image h2 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin: 0;
}

.image h1 {
  font-size: 48px;
  font-weight: 250;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.image h2 {
  font-size: 24px;
  font-weight: 320;
}